﻿<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Title</h4>
                <button type="button" class="btn btn-close" @onclick="@ModalCancel"></button>
            </div>
            <div class="modal-body">
                <p>@Content</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" @onclick="@ModelOk">Yes</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Title{ get; set; }
    [Parameter]
    public string Content{ get; set; }
    [Parameter]
    public EventCallback<bool> OnClose{ get; set; }

    public Task ModalCancel()
    {
        return OnClose.InvokeAsync(false);
    }
    public Task ModelOk()
    {
        return OnClose.InvokeAsync(true);
    }
}
